body{
  height: 100vh;
  overflow: auto;

  background-color: red;
}

.wens{
position: absolute;
}
h1{
  color: white;
}

.ster{

stroke: white;
}

.vlokje{
  fill: none;
  stroke: white;
  stroke-width: 2px;
  width: 20%;
}
